{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="max-w-md mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
    {% if error %}
        <div class="text-red-500 mb-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Logout</a>
        </div>
    {% endif %}

    <h1 class="text-xl font-semibold mb-4">Please sign in</h1>
    <label for="inputEmail" class="block font-medium text-gray-700">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-input w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" autocomplete="email" required autofocus>
    <label for="inputPassword" class="block font-medium text-gray-700">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-input w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-500" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

     <button class="w-full py-2 mt-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:bg-blue-600" type="submit">
        Sign in
    </button>
    
    <button class="w-full py-2 mt-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:outline-none focus:ring focus:bg-green-600" type="button" onclick="window.location.href='{{ path('app_register') }}'">
        Register
    </button>
</form>
{% endblock %}
