{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold mb-4">Gérer les utilisateurs</h1>
    <table class="w-full border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200">
                <th class="py-2 px-4">Name</th>
                <th class="py-2 px-4">Surname</th>
                <th class="py-2 px-4">Mail</th>
                <th class="py-2 px-4">Role</th>
                <th class="py-2 px-4">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="{{ loop.index is odd ? 'bg-gray-100' : '' }}">
                <td class="py-2 px-4">{{ user.name }}</td>
                <td class="py-2 px-4">{{ user.surname }}</td>
                <td class="py-2 px-4">{{ user.email }}</td>
                <td class="py-2 px-4">{{ user.roles[0] }}</td>
                <td class="py-2 px-4">
                    <a href="/admin/edit_user/{{ user.id }}" class="text-blue-500 hover:underline">Edit</a>
                    | <a href="/admin/delete_user/{{ user.id }}" class="text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
