{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-semibold mb-4">Session</h1>

    <table class="w-full border-collapse border border-gray-300">
        <tbody>
            <tr class="bg-gray-100">
                <th class="py-2 px-4">Id</th>
                <td class="py-2 px-4">{{ session.id }}</td>
            </tr>
            <tr class="bg-gray-100">
                <th class="py-2 px-4">Start_session</th>
                <td class="py-2 px-4">{{ session.startSession ? session.startSession|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr class="bg-gray-100">
                <th class="py-2 px-4">End_session</th>
                <td class="py-2 px-4">{{ session.endSession ? session.endSession|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr class="bg-gray-100">
                <th class="py-2 px-4">Commentary</th>
                <td class="py-2 px-4">{{ session.commentary }}</td>
            </tr>
            <tr class="bg-gray-100">
                <th class="py-2 px-4">Response</th>
                <td class="py-2 px-4">{{ session.response }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}" class="text-blue-500 hover:underline mt-4">back to list</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="text-blue-500 hover:underline">edit</a>

    {{ include('session/_delete_form.html.twig') }}
</div>
{% endblock %}
