{% extends 'base.html.twig' %}

{% block body %}
	<div class="max-w-3xl mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
		<h1 class="text-2xl font-semibold mb-4 text-blue-600">
			Bienvenue
			{{ user.surname }}
			{{ user.name }}
		</h1>

		<p class="mb-4">Voici vos prochaines sessions de travail :</p>

		{% for session in sessions %}
			<div class="mb-8 p-4 border border-gray-300 rounded-lg">
				<p>
					<strong>Début :</strong>
					{{ session.startSession|date('d/m/Y H:i') }}<br>
					<strong>Fin :</strong>
					{{ session.endSession|date('d/m/Y H:i') }}
				</p>

				<p class="mt-4">Vous devrez réaliser les tâches suivantes :</p>

				<ul class="list-none pl-6">
					<form action="{{ path('task_done', {'idSession': session.id}) }}" method="post">
						{% for task in tasks %}
							{% if task.idSession.id == session.id %}
								<li class="mt-2">
									<label for="task_{{ task.id }}" class="cursor-pointer">
										<input type="checkbox" name="task" value="{{ task.id }}" id="task_{{ task.id }}" class="mr-2">

										{{ task.name }}
										:
										{{ task.description }}
									</label>
								</li>
							{% endif %}
						{% endfor %}
						<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Valider</button>
					</form>


				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}

